<!doctype html>
	<html ng-app>
    <head>
		<script src="angular.min.js"></script>
		<script src="script.js"></script>
    </head>
    <body>
		<div ng-controller="ItemController">
		<button ng-click="reRender()">Rerender (5000) </button>
		<button ng-click="reRenderAll()">Rerender All (5*5000) </button>
			<ul class="unstyled">
				<li ng-repeat="item in items">
					<span style="margin: 20px">{{item['0']}}</span>
					<span style="margin: 20px">{{item['1']}}</span>
					<span style="margin: 20px">{{item['2']}}</span>
					<span style="margin: 20px">{{item['3']}}</span>
					<span style="margin: 20px">{{item['4']}}</span>
				</li>
			</ul>
		</div>
    </body>
</html>