<h1>{{msgs}} {{testobj.a}}</h1>
    <h2>My favorite hero is: {{title}}</h2>
    <p>Heroes: {{msgs}}</p>
     <ul>
      <li *ngFor="let user of heros">
     <span style="margin: 20px">{{user['0']}}</span>
    <span style="margin: 20px">{{user['1']}}</span>
    <span style="margin: 20px">{{user['2']}}</span>
     <span style="margin: 20px">{{user['3']}}</span>
    <span style="margin: 20px">{{user['4']}}</span>
      </li>
    </ul>