<template>

  <form submit.trigger="render()">
    <button type="submit">Rerender</button>
  </form>
    <form submit.trigger="renderAll()">
    <button type="submit">Rerender All</button>
  </form>
  <ul>
    <li repeat.for="todo of todos">
    <span style="margin: 20px">${todo[0]}</span>
    <span style="margin: 20px">${todo[1]}</span>
    <span style="margin: 20px">${todo[2]}</span>
    <span style="margin: 20px">${todo[3]}</span>
    <span style="margin: 20px">${todo[4]}</span>
 </li>   
  </ul>
</template>