<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ember Starter Kit</title>
  <script src="jquery.min.js"></script>
  <script src="ember-template-compiler.js"></script>
  <script src="ember.js"></script>
  <script src="myember.js"></script>
</head>
<body>

  <script type="text/x-handlebars">
    <h2> Welcome to Ember.js 2.0</h2>

    {{outlet}}
  </script>

  
  <script type="text/x-handlebars" data-template-name="index"> 
    <div>
    </div>
    <div>
        {{display-field}}

    </div>
    
  </script>


  <script type="text/x-handlebars" data-template-name="components/display-field">
  <button {{action 'reRender'}}>Rerender (5000)</button>
  <button {{action 'reRenderAll'}}>Rerender All (5* 5000)</button>
    <ul>
     {{#each msgs as |key|}}
     <li>
     <span style="margin: 20px"> {{key.a0}}</span>
     <span style="margin: 20px"> {{key.a1}}</span>
     <span style="margin: 20px"> {{key.a2}}</span>
     <span style="margin: 20px"> {{key.a3}}</span>
     <span style="margin: 20px"> {{key.a4}}</span>
      </li>
     {{/each}}
   </ul>
  </script>

</body>
</html>
