<!DOCTYPE html>
<html>
<head>
	<script src="vue.js"></script>
	<title></title>
</head>
<body>
<div  id="users">
<button v-on:click="reRender">ReRender (3500)</button>
<button v-on:click="reRenderAll">ReRender All ( 5* 3500)</button>
<ul>
  <li v-for="user in users">
    <span style="margin: 20px">{{user['0']}}</span>
    <span style="margin: 20px">{{user['1']}}</span>
    <span style="margin: 20px">{{user['2']}}</span>
    <span style="margin: 20px">{{user['3']}}</span>
    <span style="margin: 20px">{{user['4']}}</span>
  </li>
</ul>
</div>
<script  type="text/javascript">
  new Vue({
  el: '#users',
  data: function(){
  		var msgs=[];
  	           for(var i = 0; i < 3500; ++i) {
                    msgs[i] = {};
                    for(var j = 0; j < 5; ++j) {
                        msgs[i][j] = Math.random();
                    }
                }
    return {users: msgs}
  },
  methods: {
    reRender: function () {
              var msgs=[];
               for(var i = 0; i < 3500; ++i) {
                  msgs[i] = {};
                    for(var j = 0; j < 5; ++j) {
                      if(j==0){
                        msgs[i][j] = Math.random();
                        }
                        else {
                           msgs[i][j] = this.users[i][j];
                        }
                    }
                }
                this.users = msgs;
    },
        reRenderAll: function () {
              var msgs=[];
               for(var i = 0; i < 3500; ++i) {
                  msgs[i] = {};
                    for(var j = 0; j < 5; ++j) {
                        msgs[i][j] = Math.random();
                    }
                }
        this.users = msgs;
    }
  }
})
</script>
</body>
</html>